*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}

/* main{

} */

@media(min-width:900px){
    .hb,.mid,.third,.end,footer{
        display: flex;
        /* justify-content: space-between; */
    }
}



.svg{
    background-image: url(./bg-hero-desktop.svg); 
    padding-top: 1px;
}

.dai{
    /* display: flex; */
    /* justify-content: space-between; */
    align-content: center;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
}

.log{
    border: 1px;
}

#log{
    max-width: 150px;
    max-height: 150px;
}

.Fee{
     padding: auto;
    text-align: middle;
    background-color:rgba(255, 255, 255, 0.952);
    border: 1px;
    margin-top: -25px;
    border-radius: 30px;
    padding: 7px 30px;
    float:right;
    box-shadow:6px 12px 4px whitesmoke ;
}

#div{
    color: white;
    border: 1px;
    border-color: rgb(255, 111, 135);
    background-color: rgb(255, 111, 135);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    height: 40px;
    align-items: center;
}

.hb{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    box-shadow:6px 12px 4px whitesmoke ;
    margin: auto;
}

#hb1{
    width:450px;
    top: 50%;
    left: 50%;
    grid-area: a;
    margin-left: 50px;
    margin-bottom: 100px;
    /* margin-top: 100px; */
}

h1{
    width:250px;
}

#h41{
    width: 400px;
}

#h42{
    width: 400px;
}

#h43{
    width: 400px;
}

#hb2{
     width: 700px;
     height: fit-content;
     grid-area: b;
     margin-right: 30px;
     /* margin-left: 180px; */
}

#im{
    max-width: 700px;
    max-height: 450px;
}

.mid{
    background-color: white;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
    margin-left: 45px;
    margin-right:45px ;
    border-radius: 10px;
    box-shadow:6px 12px 4px whitesmoke ;
}

.md{
    border: 1px;
    width:400px;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-right: 100px;
    /* margin-left: 100px; */
    flex-flow: column-reverse;
    align-content: flex-start;
}

.mi{
    width: 500px;
    height: auto;
    /* margin-right: 30px; */
    margin-left: 0px;
    /* position: absolute; */
    align-content: flex-end;
    flex-direction: row;
    margin-left: auto;
}

#im1{
    max-width: 500px;
    max-height: 300px;
    /* margin-left: 700px; */
}

#im2{
    max-width: 500px;
    max-height: 300px;
    /* margin-right: 700px; */
}

.third{
    background-color: white;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 45px;
    margin-right:45px ;
    border-radius: 10px;
    box-shadow:6px 12px 4px whitesmoke ;
}

.md2{
    border: 1px;
    width:500px;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    margin-left: 50px;
}

.end{
    background-color: white;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
    margin-left: 45px;
    margin-right:45px ;
    border-radius: 10px;
    box-shadow:6px 12px 4px whitesmoke ;
}

.end1{
    width: 500px;
    height: auto;
     
    margin-left: 0px;
    /* position: absolute; */
    align-content: flex-end;
    flex-direction: row;
    margin-left: auto;
}

.end2{
    border: 1px;
    width:500px;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: 100px;
}


#im3{
    max-width: 500px;
    max-height: 300px;
}

.floating{
    width: 600px;
    margin-top: auto;
    box-shadow: 0 1px 7px 4px var(--shadow-);
    padding: 88px 0;
    position: relative;
    top: 130px;
    z-index: 1;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 30%;
}

.floattext{
    text-align: center;
     
}

.floatbutton{
    width: 300px;
    height: 50px;
    color: white;
    background-color: rgb(255, 111, 135);
    border:1px;
    border-color: rgb(245, 148, 164);
    border-radius: 25px;
    /* margin-left: 70px; */
}

footer{
    background-color:rgb(5, 50, 53);
    /* display: flex; */
    justify-content: space-evenly;
    padding-top: 200px;
    gap: 30px;

}

.footer_side1{
    margin-bottom: 30px;
    flex-basis: 20%;
    color: white;
}

.footer_side2{
    margin-bottom: 30px;
    color: white;
}
.footer_side3{
    margin-bottom: 30px;
    color: white;
}

.footer_side4{
    margin-bottom: 30px;
    color: white;
}

#foottext{
    width: 400px;
}

#fts{
    margin-top: 70px;
}

#footim{
    filter: grayscale(100%);
    filter: brightness(0%);
    filter: invert(98%)sepia(100%)saturate(7%)hue-rotate(177deg)brightness(101%)contrast(102%);
}